<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
      
      <head>
        <title>Admin Home</title>
    </head>
    <body>
    	<div layout:fragment="content">
	        <p>Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)</p>
	        <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
    	<h1>This is admin home page</h1>
		<div class="panel panel-default">
			<div class="panel-heading">
				Users
			</div>
			<table style="width:100%">
			<th:block th:each="user : ${users}">
				<tr th:if="${user.getName()} != Admin">
					<form th:action="@{/admin/home/{id}(id=${user.getId()})}" th:object="${user}" th:method="post">
						<input type="text" th:name="name" th:value="${user.getName()}"/>
						<input type="text" th:name="email" th:value="${user.getEmail()}"/>
						<input type="hidden" th:name="password" th:value="${user.getPassword()}"/>
						<input type="submit" value="Update" />
					</form>
					<form th:action="@{/admin/home/{id}(id=${user.getId()})}" th:object="${user}" th:method="delete">
						<input type="hidden" th:name="content" th:value="${user}"/>
						<input type="submit" value="Delete" />
					</form>
					<div><p>Vacations</p></div>
					<table style="width:100%">
					<th:block th:each="vacation : ${user.getVacations()}">
						<th> <p>From :  <span th:text="${vacation.getPeriod()}"></span></p></th>
						<th> <p>Number of days :  <span th:text="${vacation.getNumberOfDays()}"></span></p></th>
						<th> <p>Paid :  <span th:text="${vacation.isPaid()}"></span></p></th>
					</th:block>
					</table>
					<hr>
				</tr>
			</th:block>
			</table>
			<form th:action="@{/admin/home/findByFirstName}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by first name" />
			</form>
			<br>
			<form th:action="@{/admin/home/findByLastName}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by last name" />
			</form>
			<br>
			<form th:action="@{/admin/home/findBySSN}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by SSN" />
			</form>
			<br>
			<form th:action="@{/admin/home/findByEmail}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by email" />
			</form>
			<br>
			<form th:action="@{/admin/home/findBySalary}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by salary" />
			</form>
			<br>
			<form th:action="@{/admin/home/findByBirthDay}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by birthday" />
			</form>
			<form th:action="@{/admin/home/usersByFirstName}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by first name" />
			</form>
			<br>
			<form th:action="@{/admin/home/usersByLastName}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by last name" />
			</form>
			<form th:action="@{/admin/home/usersTillSalary}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by salary" />
			</form>
			<br>
			<form th:action="@{/admin/home/usersTillBirthday}">
				<input type="text" th:name="name"/>
				<br>
				<input type="submit" value="Find by birthday" />
			</form>
		</div>
		</div>
    </body>

    
</html>