<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            User
        </div>
            <p th:text="${findBySalary.getInformation().getFirstName()}"></p>
            <p th:text="${findBySalary.getInformation().getLastName()}"></p>
            <p th:text="${findBySalary.getInformation().getSSN()}"></p>
            <p th:text="${findBySalary.getEmail()}"></p>
    </div>
</div>
</body>
</html>