<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content">
		<p>
			Welcome <span sec:authentication="principal.username">User</span>
		</p>
		<p>
			<a th:href="@{/logout}">Logout</a>
		</p>

		<div sec:authorize="hasRole('ROLE_USER')">
			<h3>You will see this only if you are USER</h3>
			<p>
				<a th:href="@{/home}">User Home</a>
			</p>
		</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>You will see this only if you are ADMIN</h3>
			<p>
				<a th:href="@{/admin/home}">Admin Home</a>
			</p>
		</div>
		<h3>Form with CSRF Token</h3>
		<form th:action="@{/messages}" th:method="post">
			<textarea th:name="content" cols="50" rows="5"></textarea>
			<br>
			<input type="submit" value="Submit" />
		</form>

		<div>
		<br>
			<div class="panel panel-default">
				<div class="panel-heading">
					Messages
				</div>
				<th:block th:each="msg : ${msgs}">
					<tr>
						<td><p th:text="${msg.content}"></p></td>
						<td>
							<form th:action="@{/messages/{id}(id=${msg.getId()})}" th:object="${msg}" th:method="post">
								<input type="text" th:name="content" th:value="${msg.content}" />
								<input type="submit" value="Update" />
							</form>
							<form th:action="@{/messages/{id}(id=${msg.getId()})}" th:object="${msg}" th:method="delete">
								<input type="hidden" th:name="content" th:value="${msg.content}" />
								<input type="submit" value="Delete" />
							</form>
						</td>
					</tr>
				</th:block>
			</div>
		</div>
	</div>

</body>

</html>

