<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Users
        </div>
        <br>
        <table>
            <tr th:each="user : ${usersByLastName}">
                <td>First Name: <p th:text="${user.information.firstName}"></p></td>
                <td>Last Name: <p th:text="${user.information.lastName}"></p></td>
                <td>SSN: <p th:text="${user.information.SSN}"></p></td>
                <td>Email: <p th:text="${user.email}"></p></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>